<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<div class="row">
 <div class="input-group, col-md-6">
   <div class="input-group-btn">
     <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Channel List
     </button>
     <div class="dropdown-menu">
         <ul>
             <li *ngFor="let i of channelDataList" (click)="onSelect(i.id)"><button>{{i.name}}</button></li>
         </ul>
     </div>
   </div>
 </div>
 
  <div class="collapse navbar-collapse col-md-6" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <button type="button" class="btn btn-primary" routerLink="/favourite" routerLinkActive="active">Favourite<span class="sr-only">(current)</span></button>
      </li>
      &nbsp;
    </ul>
  </div>
 

</div>
</nav>
